*{
    margin:0;
    padding:0;
    touch-action: none;
    box-sizing: border-box;
    user-select:none;
    font-family:consolas;
}
html{
    font-size:62.5;
    
}

button{
    box-sizing:border-box;
    padding:1%;
    background-color: rgb(161, 136, 127);
    border-style:solid;
    border-color:black;
}
button:hover{
    background-color: black;
    color:white;
}
button:active{
    background-color:white;
    color:black;
}
body{
    box-sizing: border-box;
    background-color: rgb(236, 239, 241);
}
#title{
    font-size:250%;
    /* text-align:center; */
}
#desc{
    box-sizing: border-box;
    padding:0% 0% 0.7% 0%;
    font-size:90%;
}
#statText{
    font-size:80%;
}

#background{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

#mainBody{
    box-sizing:border-box;
    background-color:rgb(161, 136, 127);
    height:80vh;
    max-height:calc(90vw/(3/4)); /* Change the aspect ratio here */
    width:auto;
    aspect-ratio: 3/4; /* Change the aspect ratio here */
    max-width:90vw;
    border-radius:1.8%;
    display:flex;
    flex-direction:column;
    padding:2%;
}
#topBox{
    flex:1 1 25%;

}

#topBox div{
    padding-top:1.5%;
}
#mainBox{
    background-color: rgb(236, 239, 241);
    flex:1 1 75%;
    border-radius:1.8%;
    padding:5%;

}
#gameBox{
    /* border:solid rgb(161, 136, 127); */
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.panel{
    box-sizing:border-box;
    border: solid rgb(161, 136, 127) 1px;
    height:calc(100%/3);
    width:calc(100%/3);
    flex: none;
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:500%;
}
.panel:hover{
    background-color: rgba(0, 0, 0, 0.050);
}
.inputPanel{
    box-sizing:border-box;
    height:calc(100%/3);
    width:calc(100%/3);

}

#tl,#t,#tr{
    border-top:none;
}

#tl,#l,#bl{
    border-left:none;
}
#bl,#b,#br{
    border-bottom:none;
}
#tr,#r,#br{
    border-right:none;
}
