*{
    margin:0;
    padding:0;
    user-select:none;
    touch-action: none;
    box-sizing: border-box;

}
html{
    font-size:62.5;
}

body{
    box-sizing: border-box;
    background-color: rgb(236, 239, 241);
}

#background{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

#mainBody{
    box-sizing:border-box;
    background-color:rgb(161, 136, 127);
    height:80vh;
    max-height:calc(90vw/(3/4)); /* Change the aspect ratio here */
    width:auto;
    aspect-ratio: 3/4; /* Change the aspect ratio here */
    max-width:90vw;
    border-radius:1.8%;
    display:flex;
    flex-direction:column;
    padding:2%;
}
#topBox{
    flex:1 1 25%;

}
#mainBox{
    background-color: rgb(236, 239, 241);
    flex:1 1 75%;
    border-radius:1.8%;

}
